<!doctype html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
    <title>GatherSpace | error</title>
  </head>
  <body>
    <%- include ('partials/header.ejs') %>
    <main>
      <section class="error-message">
        <div class="landing-container">
          <div class="error-message__container">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
            <button class="accent-button" onclick="location.href='/';">
              Ok
            </button>
          </div>
        </div>
      </section>
    </main>
    <%- include ('partials/footer.ejs') %>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
