<!doctype html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
    <title>GatherSpace | user lobby</title>
  </head>
  <body>
    <%- include ('partials/header.ejs') %>
    <main>
      <section>
        <div class="landing-container">
          <div class="space-form__container">
            <h1>Join space <%= spaceId %></h1>
            <form method="post" class="space-form__form">
              <input type="text" name="spaceId" value="<%= spaceId %>" hidden />
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                placeholder="alien007"
                required
              />
              <button class="accent-button" type="submit">Join space</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include ('partials/footer.ejs') %>
  </body>
</html>
